.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: blue;
}

.about {
    display: flex;
    justify-items:center;
    align-items: center;
    margin-left: 100px;
    color: whitesmoke;
}

.contact {
    display: flex;
    justify-items:center;
    align-items: center;
    margin-left: 100px;
    color: whitesmoke;
}

.home {
    display: flex;
    justify-items:center;
    align-items: center;
    margin-left: 100px;
    color: whitesmoke;
}



